/* ========================== */
/* ====================founder start ============== */

.founder_page h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.founder_page footer .a{
    text-decoration: none; 
    font-size: 24px;
 }
 
 .founder_page footer i{
     font-size: 24px;
 }


/* ================ founder  end================= */
/* ============================================ */